In [3]:
# 리스트 조합 활용 코드
import itertools

lst = [1, 2, 3]
combs = []

for i in range(1, len(lst)+1):
    els = [list(x) for x in itertools.combinations(lst, i)]
    combs.extend(els)
    
print(combs)

[[1], [2], [3], [1, 2], [1, 3], [2, 3], [1, 2, 3]]

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
df = pd.read_csv("credit_card_data.csv")
df.head()

,pop_cd,year,month,avg_score,avg_rat,city,sex,ages,population,num_opencard,...,monthly_installments_loan,monthly_insurance_loan,monthly_sbk_loan,loan_commitment,inst_rep_loanb,ls_rep_loanb,credit_loan,mortgage_loan,credit_card_payment,credit_card_installments_payment
0,L011,2016,1,812,2,서울,NaN,10대,55000,1.44,...,0,0,0,1120000,8210000,78020000,92170000,87260000,0,0
1,L011,2016,2,773,4,서울,NaN,10대,380000,1.71,...,510000,220000,1020000,680000,4660000,23300000,8260000,42410000,4000,1000
2,L011,2016,3,771,4,서울,NaN,10대,387000,1.75,...,490000,210000,1140000,640000,4370000,22930000,8300000,41710000,3000,1000
3,L011,2016,4,770,4,서울,NaN,10대,412000,1.76,...,510000,240000,1340000,510000,4770000,22160000,9460000,41040000,4000,1000
4,L011,2016,5,771,4,서울,NaN,10대,414000,1.75,...,490000,340000,1490000,640000,4740000,21960000,9660000,40850000,3000,1000

In [8]:
df.columns

Index(['pop_cd', 'year', 'month', 'avg_score', 'avg_rat', 'city', 'sex',
       'ages', 'population', 'num_opencard', 'num_usecard',
       'monthly_card_spend', 'monthly_lc', 'monthly_loan', 'monthly_bk_loan',
       'monthly_cd_loan', 'monthly_installments_loan',
       'monthly_insurance_loan', 'monthly_sbk_loan', 'loan_commitment',
       'inst_rep_loanb', 'ls_rep_loanb', 'credit_loan', 'mortgage_loan',
       'credit_card_payment', 'credit_card_installments_payment'],
      dtype='object')

In [40]:
df = df.drop(['sex','city','ages','pop_cd',],axis=1)

In [10]:
X = df[['population', 'num_opencard',
       'num_usecard', 'monthly_card_spend', 'monthly_lc', 'monthly_loan',
       'monthly_bk_loan', 'monthly_cd_loan', 'monthly_installments_loan',
       'monthly_insurance_loan', 'monthly_sbk_loan', 'loan_commitment',
       'inst_rep_loanb', 'ls_rep_loanb', 'credit_loan', 'mortgage_loan',
       'credit_card_payment', 'credit_card_installments_payment']]
y = df.avg_rat

In [44]:
import itertools

lst = ['population', 'num_opencard',
       'num_usecard', 'monthly_card_spend']
combs = []

for i in range(1, len(lst)+1):
    els = [list(x) for x in itertools.combinations(lst, i)]
    combs.extend(els)
    
print(combs)

[['population'], ['num_opencard'], ['num_usecard'], ['monthly_card_spend'], ['population', 'num_opencard'], ['population', 'num_usecard'], ['population', 'monthly_card_spend'], ['num_opencard', 'num_usecard'], ['num_opencard', 'monthly_card_spend'], ['num_usecard', 'monthly_card_spend'], ['population', 'num_opencard', 'num_usecard'], ['population', 'num_opencard', 'monthly_card_spend'], ['population', 'num_usecard', 'monthly_card_spend'], ['num_opencard', 'num_usecard', 'monthly_card_spend'], ['population', 'num_opencard', 'num_usecard', 'monthly_card_spend']]

In [45]:
for i in combs:
    print(i)

['population']
['num_opencard']
['num_usecard']
['monthly_card_spend']
['population', 'num_opencard']
['population', 'num_usecard']
['population', 'monthly_card_spend']
['num_opencard', 'num_usecard']
['num_opencard', 'monthly_card_spend']
['num_usecard', 'monthly_card_spend']
['population', 'num_opencard', 'num_usecard']
['population', 'num_opencard', 'monthly_card_spend']
['population', 'num_usecard', 'monthly_card_spend']
['num_opencard', 'num_usecard', 'monthly_card_spend']
['population', 'num_opencard', 'num_usecard', 'monthly_card_spend']

In [50]:
df[combs[4]].head(2)

   population  num_opencard
0       55000          1.44
1      380000          1.71

In [51]:
df[combs[0]].head(2)

   population
0       55000
1      380000

In [53]:
for i in combs:
    df[i]