In [1]:
'''
pandas - > 
data structure
1. Series (1차원)
2. DataFrame (2차원)
3. Panel (3차원)

#index: (axis=0, row)
columns: (axis=1, col)

# Series: immutable(바꿀수없음)

'''

'\npandas - >\n\n\n'

In [2]:
# Series 생성
import pandas as pd
s = pd.Series()
s

Series([], dtype: float64)

In [18]:
import numpy as np
import pandas as pd
data = np.array(['a', 'b', 'c', 'd'])
s1 = pd.Series(data)
s1

s2 = pd.Series(data, index=[100,101,102,103])
s # 인덱스 번호를 바꿈

data2 = {'a':0, 'b':1, 'c':2, 'd':3}
s3 = pd.Series(data2)
s3

s4 = pd.Series(data2, index=['b', 'a', 'c', 'e'])
s4 #인덱스가 없을 경우 NaN으로 들어감

# print(s4[2])
# print(s4['b'])

# s4[:3]
# s4[1:]
# s4[-3:]
s4[['a', 'b']]

a    0.0
b    1.0
dtype: float64

In [ ]:
# DataFrame: size- mutable(생성후에도 칼럼을 추가할수있다.)
# -> list, dict, Series, numpy ndarray, ...dataframe

In [57]:
import pandas as pd
df = pd.DataFrame()
df
data = [1,2,3,4,5,6]
df2 = pd.DataFrame(data)
df2
data2 = [['Tome',2000], ['John',3000], ['Amy',5000]]
df3 = pd.DataFrame(data2)
df3
df4 = pd.DataFrame(data2, 
                   index=['one', 'two', 'three'],
                   columns=['Name', 'Salary'], dtype=float)
df4

       Name  Salary
one    Tome  2000.0
two    John  3000.0
three   Amy  5000.0

In [28]:
data3 = {'Name': ['a', 'b', 'c'], 'salary': ['100', '200', '300']}
df5 = pd.DataFrame(data3)
df5

  Name salary
0    a    100
1    b    200
2    c    300

In [55]:
data4 = {'one': pd.Series([1,2,3], index=['a', 'b', 'c']),
        'two': pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd']) } #인덱스값이 일치하지않으면 오류발생
df6 = pd.DataFrame(data4) #결측값이 발생하면 NaN
df6['one'] # 칼럼값 출력
df6['three'] = pd.Series([10,20,30], index=['b','c','d']) # 위치정보를 지정해서 넣을수있다.
df6['four'] = df6['one'] + df6['two']
# del df6['one'] # 칼럼삭제
df6
# index
# label, index 로 접근 --> loc, iloc 
# df6['two']
# df6.iloc[0]
# df6.loc['b']
print(df6)

   one  two  three  four
a  1.0    1    NaN   2.0
b  2.0    2   10.0   4.0
c  3.0    3   20.0   6.0
d  NaN    4   30.0   NaN

In [68]:
df7 = pd.DataFrame([ [1,2],[3,4] ], columns=['a','b'])
df8 = pd.DataFrame([ [5,6],[7,8] ], columns=['a','b'])
df9 = df7.append(df8)
df10 = df9.drop(0)
df10

   a  b
1  3  4
1  7  8

In [69]:
# panel
import pandas as pd
import numpy as np
data = np.random.randn(2,4,5)
data

array([[[-1.38854384, -0.64043477, -0.40792234,  1.04434905,
         -0.01248472],
        [-0.27579464,  0.46674126, -0.25166549, -0.06879177,
          1.05546419],
        [ 1.26987534,  0.8453425 , -0.33957132, -1.52657909,
          0.14246901],
        [-1.382866  , -0.51387953, -0.20010076, -1.20122245,
          0.19970506]],

       [[-1.69236933, -0.57159069,  0.15193678,  0.33102534,
          1.36206983],
        [ 1.1877878 , -0.52630596, -0.51827012,  0.99752552,
         -0.81085883],
        [ 0.55691361, -1.04126541, -1.01751644,  0.95113654,
         -1.74581895],
        [ 0.6424394 ,  1.43953774,  0.50551905, -0.87258719,
          1.05724969]]])

In [70]:
type(data)
df11 = pd.Panel(data)
df11

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3296: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 5 (minor_axis)
Items axis: 0 to 1
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 4

In [74]:
data2 = {
    'one': pd.DataFrame(np.random.randn(4,3)),
    'two': pd.DataFrame(np.random.randn(4,2))
}
df12 = pd.Panel(data2)
df12
type(df12) # panel
type(df12['two']) # dataframe

pandas.core.frame.DataFrame

In [84]:
# pandas의 속성
import numpy as np
import pandas as pd
s = pd.Series(np.random.randn(4))
type(s)
# s.axes
# s.empty
s.ndim
s.size
s.values
type(s.values) #ndarray

numpy.ndarray

In [87]:
data5 = [ [1,2], [3,4] ]
df20 = pd.DataFrame(data5)
df20.T # 축 바꾸기

   0  1
0  1  3
1  2  4

In [88]:
df20.dtypes

0    int64
1    int64
dtype: object

In [93]:
df20.ndim
df20.shape #튜플
df20.size
df20.values
df20.describe()

              0         1
count  2.000000  2.000000
mean   2.000000  3.000000
std    1.414214  1.414214
min    1.000000  2.000000
25%    1.500000  2.500000
50%    2.000000  3.000000
75%    2.500000  3.500000
max    3.000000  4.000000

In [95]:
# element wise function
df20
df20[0].map(lambda x:x*100)

0    100
1    300
Name: 0, dtype: int64

In [98]:
df21 = pd.DataFrame(np.random.randn(10,3), columns=['col1', 'col2', 'col3'])
df22 = pd.DataFrame(np.random.randn(7,3), columns=['col1', 'col2', 'col3'])
df23 = df21.reindex_like(df22)
df23

       col1      col2      col3
0 -0.153207 -0.450591 -1.156793
1  0.943474 -0.479420  0.649199
2 -0.874834  0.445162  1.468922
3 -1.808903 -0.364012 -1.060694
4  1.067630  0.232301 -0.966037
5 -0.143569 -1.397244  1.197452
6  0.472756  1.351671  1.537487

In [104]:
df24 = df23.rename(columns= {'col1':'cl1', 'col2':'cl2'},
           index={0:'one', 1:'two'}, inplace=True )
df24